html {
  position: relative;
  min-height: 100%; }

body {
  font-size: 100%;
  color: #383e47;
  width: 100%;
  /*footer height plus padding*/
  margin-bottom: 160px; }

/*Overwriting Bootstrap*/
.container-fluid {
  padding-right: 0px;
  padding-left: 0px; }

.row {
  margin-right: 0px;
  margin-left: 0px; }

a {
  color: inherit;
  text-decoration: none; }
  a:link {
    text-decoration: none; }
  a.dotted {
    /*for links*/
    color: #4b444d;
    border-bottom: 1.5px dotted #ccc; }
  a:hover {
    color: #FAA61A; }

h1 {
  font-size: 3.5em;
  line-height: 2.3em;
  font-weight: bold;
  color: #383e47;
  margin-bottom: 1em; }
  @media (max-width: 768px) {
    h1 {
      font-size: 2.3em; } }
  h1 span {
    padding: 7px;
    color: #fff;
    background: #F77A52; }

h2 {
  font-size: 2em;
  line-height: 1.8em;
  font-weight: bold;
  margin-bottom: 1em; }
  @media (max-width: 768px) {
    h2 {
      font-size: 1.5em; } }
  h2 span {
    padding: 7px;
    color: #fff;
    background: #F77A52; }

h3 {
  font-size: 1.8em;
  line-height: 2.2em;
  font-weight: normal;
  color: #fff; }
  @media (max-width: 768px) {
    h3 {
      font-size: 1.4em; } }

p {
  font-size: 1.5em;
  line-height: 1.9em;
  padding-bottom: 1em; }
  p span {
    padding: 1px;
    color: #383e47;
    background: rgba(247, 122, 82, 0.5); }
  p.first-paragraph::first-letter {
    float: left;
    margin: 0 20px 0 0;
    font-size: 52px;
    font-weight: bold;
    padding: 10px;
    line-height: 1; }
  @media (max-width: 768px) {
    p {
      font-size: 1.3em; } }

.credits {
  margin-top: 0.2em;
  font-size: 1.2em;
  margin-left: 120px;
  color: #fff; }
  .credits span {
    font-weight: bold; }
  @media (max-width: 768px) {
    .credits {
      margin-top: -1.5em;
      margin-left: 10px;
      font-size: 0.9em; } }

/*citation block*/
.citation {
  font-size: 3em;
  line-height: 1.2em;
  font-weight: normal;
  color: #F77A52;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 2em; }
  @media (max-width: 480px) {
    .citation {
      font-size: 2.2em;
      margin: 1.5em; } }

/*Default button style*/
.button {
  outline: none;
  box-shadow: none;
  border: 2px solid #383e47;
  background: #fff;
  font-size: 1.3em;
  color: #383e47;
  padding: 0.5em 2em;
  margin-bottom: 2em;
  margin-top: 1em;
  border-radius: 0px; }
  .button:hover {
    outline: none;
    box-shadow: none;
    border: 2px solid #F77A52;
    background: #fff;
    font-size: 1.3em;
    color: #F77A52;
    padding: 0.5em 2em;
    margin-bottom: 2em;
    margin-top: 1em;
    border-radius: 0px; }

/*Default filter style*/
.filter {
  outline: none;
  box-shadow: none;
  border: none;
  background: #eee;
  font-size: 1.3em;
  color: #383e47;
  padding: 0.5em 1em;
  margin-bottom: 2em;
  margin-top: 1em;
  border-radius: 30px; }
  .filter:hover {
    outline: none;
    box-shadow: none;
    border: none;
    background: #F77A52;
    font-size: 1.3em;
    color: #fff;
    padding: 0.5em 1em;
    margin-bottom: 2em;
    margin-top: 1em;
    border-radius: 30px; }

/* ======== HEADER ======== */
.logo {
  position: fixed;
  float: left;
  margin: 15px 0px 0px 0px; }
  @media (max-width: 480px) {
    .logo {
      width: 20%; } }

.social-icons {
  position: fixed;
  padding-top: 10px;
  z-index: 1000; }

.fa-twitter,
.fa-facebook {
  background-color: rgba(187, 189, 192, 0.9);
  padding: 5px;
  color: #5b5b5b;
  float: right;
  margin: 5px 10px 0px 0px;
  cursor: pointer; }
  .fa-twitter:hover,
  .fa-facebook:hover {
    color: #FAA61A; }

/* ======== Footer ======== */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 170px;
  background: #1c2124 none repeat scroll 0 0;
  text-align: left;
  font-size: 14px;
  padding: 0;
  display: block; }

#footer-wraper {
  padding-top: 20px;
  margin-left: 5%;
  margin-left: 5%; }

.links li {
  color: #fff;
  font-size: 0.7em; }
  @media (max-width: 768px) {
    .links li {
      display: none; } }

.copyright {
  float: left;
  font-size: 0.7em;
  color: #fff; }
  @media (max-width: 768px) {
    .copyright {
      font-size: 0.6em; } }

.copying-info {
  padding-top: 20px;
  font-size: 0.7em;
  line-height: 15px;
  color: #888c91; }
  @media (max-width: 768px) {
    .copying-info {
      padding-top: 10px;
      font-size: 0.6em; } }

.support-site:link,
.support-site:visited {
  color: #FAA61A; }

/*Include table styles or other if needed*/
.svg-container {
  display: block;
  position: relative;
  width: 100%;
  margin: auto;
  vertical-align: middle;
  overflow: hidden; }

.logo {
  z-index: 10000; }

.text-body {
  position: absolute;
  z-index: 100; }

h1 {
  margin-top: 2em;
  margin-bottom: 0em;
  margin-left: 120px;
  font-size: 5.5em;
  line-height: 1em;
  font-weight: bold;
  color: #fff; }
  @media (max-width: 1020px) {
    h1 {
      font-size: 4em;
      margin-left: 30px; } }
  @media (max-width: 768px) {
    h1 {
      font-size: 2.3em;
      margin-left: 10px; } }

h3 {
  position: relative;
  margin-left: 120px;
  font-size: 2.3em; }
  @media (max-width: 1020px) {
    h3 {
      font-size: 1.7em;
      line-height: 1.9em;
      margin-left: 30px; } }
  @media (max-width: 768px) {
    h3 {
      font-size: 1.5em;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 10px; } }

.intro {
  font-size: 1.6em;
  line-height: 1.5em;
  font-weight: normal;
  color: #fff;
  width: 70%;
  margin-left: 120px; }
  @media (max-width: 1020px) {
    .intro {
      font-size: 1.5em;
      line-height: 1.2em;
      margin-left: 30px; } }
  @media (max-width: 768px) {
    .intro {
      display: none; } }

.intro-mobile {
  display: none; }
  @media (max-width: 768px) {
    .intro-mobile {
      display: block;
      white-space: normal;
      font-size: 1.1em;
      line-height: 1.3em;
      font-weight: normal;
      color: #fff;
      width: 70%;
      margin-left: 10px; } }

.intro-ba {
  display: none;
  white-space: normal;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: normal;
  color: #fff;
  margin-left: 10px;
  margin-top: 7em; }
  @media (max-width: 768px) {
    .intro-ba {
      display: none; } }

.intro-ba-mobile {
  display: none;
  white-space: normal;
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: normal;
  color: #fff;
  margin-left: 10px;
  margin-top: 5em; }

.small-btn {
  margin-top: 7em;
  z-index: 10000;
  position: fixed;
  cursor: pointer; }

.small-btn-name {
  z-index: 10000;
  float: left;
  margin-top: 10px;
  margin-left: 15px;
  opacity: 0.7;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: normal;
  color: #383e47; }
  .small-btn-name span {
    padding: 0.5em;
    color: #fff;
    background: #cdcdcd; }
  .small-btn-name:hover {
    opacity: 1; }
  @media (max-width: 768px) {
    .small-btn-name {
      display: block;
      white-space: normal;
      font-size: 1em;
      line-height: 1.2em;
      font-weight: normal;
      color: #fff;
      margin-right: 1px;
      margin-top: 1em; } }

.back {
  margin-left: 20em; }

.infrared {
  margin-bottom: 1em;
  display: none; }

.natural {
  margin-bottom: 1em; }

.test {
  position: absolute;
  margin-right: 1em;
  margin-top: 7em;
  z-index: 10000; }

@media (max-width: 768px) {
  .compass {
    display: none; } }

#before-after {
  display: none;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden; }

.recs {
  opacity: 0; }

@media (max-width: 768px) {
  .desk {
    display: none;
    font-size: 1em; } }

.ba-view {
  display: none; }

#g-main-2015_svg-Artboard_1 .data-text {
  font-size: 1.5em;
  line-height: 0.5em;
  font-weight: normal;
  color: #fff; }
  @media (max-width: 1020px) {
    #g-main-2015_svg-Artboard_1 .data-text {
      font-size: 1.3em;
      line-height: 0.5em;
      font-weight: normal;
      color: #fff; } }
  @media (max-width: 768px) {
    #g-main-2015_svg-Artboard_1 .data-text {
      font-size: 1.3em;
      line-height: 1.2em;
      font-weight: normal;
      color: #fff; } }

#g-main-2015_svg-Artboard_1 .add-info {
  font-size: 1.4em;
  line-height: 0.5em;
  font-weight: normal;
  color: #eee;
  font-style: italic; }
  @media (max-width: 1020px) {
    #g-main-2015_svg-Artboard_1 .add-info {
      display: none; } }
  #g-main-2015_svg-Artboard_1 .add-info span {
    padding: 0.1em;
    color: #fff;
    background: #F98585;
    opacity: 0.8; }

#g-main-2015_svg-Artboard_1 .region-name {
  font-size: 1.1em;
  line-height: 0.5em;
  font-weight: normal;
  color: #fff;
  font-style: italic;
  opacity: 0.7; }
  @media (max-width: 768px) {
    #g-main-2015_svg-Artboard_1 .region-name {
      display: none; } }

#g-main-2015_svg-Artboard_1 .geoname {
  font-size: 1.3em;
  line-height: 0.5em;
  font-weight: normal;
  color: #fff;
  opacity: 0.8; }
  @media (max-width: 768px) {
    #g-main-2015_svg-Artboard_1 .geoname {
      font-size: 0.9em;
      line-height: 1.2em;
      font-weight: normal;
      color: #fff;
      opacity: 0.4; } }

#g-main-2015_svg-Artboard_1 .mountain-name {
  font-size: 1.3em;
  line-height: 0.5em;
  font-weight: normal;
  color: #fff;
  font-style: italic;
  opacity: 0.6; }
  @media (max-width: 768px) {
    #g-main-2015_svg-Artboard_1 .mountain-name {
      font-size: 0.9em;
      line-height: 1.2em;
      font-weight: normal;
      color: #fff;
      opacity: 0.4; } }

.methods {
  font-size: 3em;
  line-height: 1.2em;
  font-weight: normal;
  color: #fff; }
  @media (max-width: 768px) {
    .methods {
      display: none; } }

.btn-methods {
  margin-bottom: 3em;
  margin-top: -3em;
  margin-left: 3%;
  z-index: 100000000;
  position: absolute; }

/*# sourceMappingURL=application.css.map */
