html {
    position: relative;
    min-height: 100%;
}

body {
    // font-family: $main-serif;
    font-size: 100%;
    color: $main-text;
    width: 100%;
    /*footer height plus padding*/
    margin-bottom: 160px;
}

/*Overwriting Bootstrap*/
.container-fluid {
  padding-right: 0px;
  padding-left:  0px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}


a {
    color: inherit;
    text-decoration: none;
    &:link {
        text-decoration: none;
    }
    &.dotted { /*for links*/
      color: #4b444d;
      border-bottom: 1.5px dotted #ccc;
    }
    &:hover {
        color: #FAA61A;
    }
}


h1 {
  @include text(3.5em, 2.3em, bold, $main-text);
  margin-bottom: 1em;
  @media #{$brk-narrow} {
    font-size: 2.3em;
  }
  & span{
    @include highlited(7px, $white, $orange-red);
 }
}


h2 {
  @include text(2em, 1.8em, bold);
  margin-bottom: 1em;
  @media #{$brk-narrow} {
    font-size: 1.5em;
  }
  & span{
    @include highlited(7px, $white, $orange-red);
 }
}


h3 {
  @include text(1.8em, 2.2em, normal, $white);
  @media #{$brk-narrow} {
    font-size: 1.4em;
  }
}


p {
    @include text(1.5em,1.9em);
    padding-bottom: 1em;
    & span{
      @include highlited(1px, $main-text, rgba(247, 122, 82, 0.5));
    }
    &.first-paragraph::first-letter {
      float: left;
      margin: 0 20px 0 0;
      font-size: 52px;
      font-weight: bold;
      padding: 10px;
      line-height: 1;
    }
    @media #{$brk-narrow} {
      font-size: 1.3em;
    }
}

.credits {
  margin-top: 3em;
  font-size: 1em;
  & span {
    font-weight: bold;
  }
  @media #{$brk-narrow} {
    margin-top: 2em;
  }
}

/*citation block*/
.citation{
  @include text(3em, 1.2em, normal, #F77A52);
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 2em;
  @media #{$brk-spnarrow} {
  font-size: 2.2em;
  margin:1.5em;
  }
}


/*Default button style*/
.button {
  @include button-mixin(2px solid $main-text, #fff, 1.3em, $main-text);
  &:hover {
    @include button-mixin(2px solid $orange-red, #fff, 1.3em, $orange-red);
  }
}

/*Default filter style*/
.filter{
  @include filter(#eee, 1.3em, $main-text);
  &:hover {
    @include filter($orange-red, 1.3em, $white);
  }
}
