

//// colors

$main-text: #383e47;
$white:#fff;
$orange: #FAA61A;
$orange-red: #F77A52;


/// fonts

$main-serif: Open Sans, sans-serif;
$footer-size: 0.8em;
$footer-size-media: 0.8em;


// Media query

$brk-narrow: '(max-width: 768px)';
$brk-spnarrow: '(max-width: 480px)';
$brk-tab: '(max-width: 1020px)';
